<table style="width:30%">
  <tr>
    <th>Código</th>
    <th>Detalle</th>
    <th>Valor</th>
    <th>Total</th>
    <th>Tax</th>
  </tr>

<% @sales.each do |sale| %>
  <tr>
    <td> <%= sale.cod %> </td>
    <td> <%= sale.detail %> </td>
    <td> <%= sale.value %> </td>
    <td> <%= sale.total %> </td>
    <td> <%= sale.tax %> </td>
  </tr>
<% end %>
</table>

<%= link_to 'Crear', sales_new_path %>
